﻿@page "/InventoryEntry"
@inherits InventoryEntryBase

<img src="images/InventoryImage.png" style="width: 100%; height: 80px;" />
<p></p>
<p></p>
<style>
    .ui-datatable {
        box-shadow: none !important;
        background-color: initial !important;
        font-family: "Segoe UI Symbol";
        font-size: 14px;
    }

    .ui-selectable .ui-datatable-even.ui-state-highlight .ui-cell-data, .ui-selectable .ui-datatable-odd.ui-state-highlight .ui-cell-data {
        color: initial !important;
    }

    .ui-column-title {
        color: #75B3BD !important;
    }

    .ui-datatable-thead th .ui-column-title {
        display: inline-block;
        font-size: 1.20rem;
        text-transform: uppercase;
        color: #3a474d;
        padding: 0 0 0.625rem 0.625rem;
        font-weight: normal;
    }

    .ui-datatable-thead th:not(:last-child) {
        border-right: none !important;
    }

    .ui-state-highlight {
        border: 1px solid #2D90A0 !important;
    }

    .ui-selectable .ui-datatable-even.ui-state-highlight > tr, .ui-selectable .ui-datatable-odd.ui-state-highlight > tr {
        border: 1px solid #2D90A0 !important;
        background-color: initial !important;
    }

    .ui-selectable .ui-datatable-even.ui-state-highlight > td, .ui-selectable .ui-datatable-odd.ui-state-highlight > td {
        background-color: #E9F0F1 !important;
        border: none !important;
    }

    .ui-datatable-data td:not(:last-child) {
        border-right: none !important;
    }

    .ui-datatable-data td {
        border-bottom: none !important;
    }

    .ui-datatable {
        border: none !important;
    }

    .ui-selectable .ui-datatable-even:hover:not(.ui-state-highlight) .ui-cell-data, .ui-selectable .ui-datatable-odd:hover:not(.ui-state-highlight) .ui-cell-data {
        color: none;
        color: initial;
    }

    .ui-datatable-data td .ui-cell-data {
        color: #48606c;
        font-size: 1.2rem;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .ui-selectable .ui-datatable-even:hover:not(.ui-state-highlight) > td, .ui-selectable .ui-datatable-odd:hover:not(.ui-state-highlight) > td {
        background-color: none !important;
        color: initial;
    }

    .ui-datatable-odd > td {
        background-color: initial !important;
    }

    .ui-datatable-even > td {
        background-color: initial !important;
    }

    body {
        background-color: #F6F6F6;
        color: #414343;
    }

    .ui-datatable-thead th {
        background-color: #EFEFEF;
        padding: 0px;
    }

    .nav-tabs {
        border-bottom: 2px solid #75B3BD !important;
    }

        .nav-tabs > li {
            float: left;
            margin-bottom: -2px !important;
        }

    li.active {
        border: 2px solid #75B3BD !important;
        border-bottom: 2px solid #EFEFEF !important;
        background-color: #EFEFEF !important;
        border-collapse: collapse !important;
    }

    .nav-tabs > li > a {
        margin-right: 0px !important;
        line-height: initial !important;
        border: none !important;
        border-radius: 0px !important;
    }

        .nav-tabs > li > a:hover {
            background: none !important;
        }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        background-color: initial !important;
        color: initial;
    }
</style>
@if (countingList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="" style="">
        <div class="row">
            <div class="">
                <div class="box">
                    <div class="box-row">
                        <div class="col-md-8">
                            <div>
                                <ul class="nav nav-tabs">
                                    <li class=@defaultActiveTabClass><a data-toggle="tab" @onclick="(() => GetCountingWarehouseWise(-1))">All Warehouse</a></li>
                                    @foreach (var data in warehouseList)
                                    {
                                        <li class=@(data.ID == activeTabWId ?activeTabClass:"")><a data-toggle="tab" @onclick="(() => GetCountingWarehouseWise(data.ID))">@data.Name.</a></li>
                                    }
                                </ul>
                            </div>
                            <RadzenGrid AllowFiltering="false" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="15"
                                        AllowSorting="false" Data="@countingList" TItem="CountingList" RowSelect="@(args => GetSelectedWarehoouseData(args))"  @bind-Value="selectedCountingList"
                                        Responsive="true" >
                                <Columns>
                                    <RadzenGridColumn TItem="CountingList" Property="PosRefID" Title="Number" />
                                    <RadzenGridColumn TItem="CountingList" Property="Name" Title="Description" />
                                    <RadzenGridColumn TItem="CountingList" Property="CaseUnitCount" Title="Case Units">
                                        <Template Context="data">
                                            @(data.Counting.FirstOrDefault().CaseUnitCount == null ? 0 : data.Counting.FirstOrDefault().CaseUnitCount)
                                        </Template>
                                    </RadzenGridColumn>
                                    <RadzenGridColumn TItem="CountingList" Property="SlaveUnitCount" Title="Slave Units">
                                        <Template Context="data">
                                            @(data.Counting.FirstOrDefault().SlaveUnitCount == null ? 0 : data.Counting.FirstOrDefault().SlaveUnitCount)
                                        </Template>
                                    </RadzenGridColumn>
                                    <RadzenGridColumn TItem="CountingList" Property="UnitCount" Title="Single Units">
                                        <Template Context="data">
                                            @(data.Counting.FirstOrDefault().UnitCount == null ? 0 : data.Counting.FirstOrDefault().UnitCount)
                                        </Template>
                                    </RadzenGridColumn>
                                    <RadzenGridColumn TItem="CountingList" Property="TotalUnitCount" Title="Total Units">
                                        <Template Context="data">
                                            @(data.Counting.FirstOrDefault().TotalUnitCount == null ? 0 : data.Counting.FirstOrDefault().TotalUnitCount)
                                        </Template>
                                    </RadzenGridColumn>
                                    <RadzenGridColumn TItem="CountingList" Property="ExpectedUnitCount" Title="Expected Units">
                                        <Template Context="data">
                                            @(data.Counting.FirstOrDefault().ExpectedUnitCount == null ? 0 : data.Counting.FirstOrDefault().ExpectedUnitCount)
                                        </Template>
                                    </RadzenGridColumn>
                                    <RadzenGridColumn TItem="CountingList" Property="IsCounted" Title="Counted">
                                        <Template Context="data">
                                            @*<input type="checkbox" @bind="data.Counting.FirstOrDefault().IsCounted" />*@
                                            <RadzenCheckBox @bind-Value="data.Counting.FirstOrDefault().IsCounted" Style=" margin-bottom: 20px" TValue="bool" />
                                        </Template>
                                    </RadzenGridColumn>
                                </Columns>
                            </RadzenGrid>

                        </div>

                        <div class="col-md-4">
                            <div></div>
                            <p style="text-align:center">Unit Overview</p>
                            <hr class="solid">
                            <table class="inventoryTable">
                                <tr>
                                    <td>Number</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td style="text-align:right; font-weight:bold">@selectedCountingData.PosRefID</td>
                                </tr>
                                <tr>
                                    <td>Description</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td style="text-align:right; font-weight:bold">@selectedCountingData.Name</td>
                                </tr>
                                <tr></tr>
                                <tr>
                                    <td>Case Units</td>
                                    <td><input type="text" value=@selectedCountingData.CaseUnitCount @oninput="(e)=>UpdateCaseUnitCalc(e.Value,selectedCountingData.PosRefID,selectedCountingData.WarehouseID ,selectedCountingData.UnitsPerCase)" /></td>
                                    <td>X</td>
                                    <td style="text-align:right">@selectedCountingData.UnitsPerCase</td>
                                    <td style="text-align:right">=</td>
                                    <td style="text-align:right">@updatedCaseUnitCountTotal</td>
                                </tr>
                                <tr>
                                    <td>Slave Units</td>
                                    <td><input type="text" value=@selectedCountingData.SlaveUnitCount @oninput="(e)=>UpdateSlaveUnitCalc(e.Value,selectedCountingData.PosRefID,selectedCountingData.WarehouseID ,selectedCountingData.SlaveUnitsPerCase)" /></td>
                                    <td>X</td>
                                    <td style="text-align:right">@selectedCountingData.SlaveUnitsPerCase</td>
                                    <td style="text-align:right">=</td>
                                    <td style="text-align:right">@updatedSlaveUnitCountTotal</td>
                                </tr>
                                <tr>
                                    <td>Single Units</td>
                                    <td><input type="text" value=@selectedCountingData.UnitCount @oninput="(e)=>UpdateSingleUnitCalc(e.Value,selectedCountingData.PosRefID,selectedCountingData.WarehouseID)" /></td>
                                    <td></td>
                                    <td></td>
                                    <td style="text-align:right">=</td>
                                    <td style="text-align:right">@updatedSingleUnitCountTotal</td>
                                </tr>
                                <tr>
                                    <td colspan="3" style="text-align:left; font-weight:bold">Total Units</td>
                                    <td></td>
                                    <td></td>
                                    <td style="text-align:right; font-weight:bold">@updatedTotalUnitCountTotal</td>
                                </tr>
                            </table>
                            <hr class="solid">
                            <table class="inventoryTable">
                                <tr>
                                    <td colspan="3" style="text-align:left;">Expected Units</td>
                                    <td></td>
                                    <td></td>
                                    <td style="text-align:right;">@selectedCountingData.ExpectedUnitCount</td>
                                </tr>
                                <tr>
                                    <td colspan="3" style="text-align:left;">Difference</td>
                                    <td></td>
                                    <td></td>
                                    <td style="text-align:right;">@(updatedTotalUnitCountTotal - selectedCountingData.ExpectedUnitCount)</td>
                                </tr>
                            </table>
                            <hr class="solid">
                            <p style="text-align:left; font-weight:bold;">Warehouse Locations</p>
                            <table class="inventoryTable">
                                @foreach (var data in selectedItemWarehouses)
                                {
                                    <tr>
                                        <td colspan="3">@data.Name</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td colspan="2" style="text-align:center"><img src="images/OpenWarehouse.PNG" @onclick="(() => OpenRespectiveWarehouseTab(data.ID))" /></td>
                                    </tr>
                                }
                            </table>
                            <input type="button" value="Counted" @onclick="()=> UpdateCountingData(selectedCountingData.PosRefID,selectedCountingData.WarehouseID)" />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

